*body{
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
 
}


.banner {
    background-image: linear-gradient(pink,white);
    color: rgb(0, 0, 0);
   /* padding: 10px 20px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: -10px;
    margin-top: -10px;
    width: 100%;
    

}

/* Styling for logo */
.logo {
    width: 60px; /* Adjust width as needed */
   margin-left: 80px;

    
   
  
   
}

/* Styling for navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    padding-top: 0px;
    
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

.navbar li {
    margin-left: 100px; /* Adjust spacing between navbar items */
}

.navbar a {
    text-decoration: none;
  color: black;
    font-weight: bold;
    padding: -5px;
    margin-left: -90px;
    
}
 a:hover{
    color: red;
}


   
   




.about{
   /* background-color: #3b3232;*/
    padding: 100px 0;
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
    background-image: url('aboutbg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    margin-bottom: -25px;
    
   

  
    
}


.about p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 270px;
    color: white;
    

}

p{
    padding-top: 20;
    color: white;
    font-size: large;
    font-style: italic;
}






.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin: 20px;
    margin-left: -30px;
    margin-right: 20px;
    
}

/* Gallery item */
.gallery-item {
    overflow: hidden;
    border-radius: 8px;
   width: auto;
}

.gallery-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    padding: 50px;
   
}

/* Hover effect */
.gallery-item:hover img {
    transform: scale(1.1);
}


.profile{

    margin-left: -10px;
    margin-right: -10px;
    margin-top: -23px;
    margin-bottom: -20px;
    width: auto;
}

.profile h1{
    color:rgb(176, 29, 29);
    margin-left: 10px;
}

.profile p{
    color: blueviolet;
    padding: 30px;
}
.banner2{
    color: white;
   /* padding: 10px 20px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: -10px;
    width: 100%;
    background-image: linear-gradient(lightgray,pink);

    
   

}

.navbar2{
    padding-right: 0px;
    
}


.social-icons{
    padding-bottom: 200x;
}


.social-icons ul li {
    display: inline-block; /* Display icons horizontally */
    margin-right: 10px;
     /* Spacing between icons */
  }
  
  .social-icons ul li:last-child {
    margin-right: 0; /* Remove margin from last icon */
  }
  
  .social-icons ul li a img {
    width: 10px; 
    height: 10px;
  }


  
/* CSS styles for the footer */
footer{
    background-image:linear-gradient(pink,lightgray);
     text-align: center;
     padding: 20px;
     align-items: center;
     padding: 10px;
     margin-left: -10px;
     width: 100%;
     
 }

footer p{
    color: white;
}