.banner {
    background-image: linear-gradient(pink,white);
    color: rgb(0, 0, 0);
   /* padding: 10px 20px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: -10px;
    width: 100%;
    

}

/* Styling for logo */
.logo {
    width: 60px; /* Adjust width as needed */
   margin-left: 80px;  
}




/* Styling for navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    padding-top: 0px;
    
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

.navbar li {
    margin-left: 100px; /* Adjust spacing between navbar items */
}

.navbar a {
    text-decoration: none;
   color: black;
    font-weight: bold;
    padding: -5px;
    margin-left: -90px;
    
}
 a:hover{
    color: red;
}




.service{
    /* background-color: #3b3232;*/
     padding: 50px 0;
     text-align: left;
     margin-left: -10px;
     margin-right: -10px;
     background-image: url('servicebg.jpeg');
     background-size: cover;
     background-position: center;
     color: rgb(228, 183, 183);
    
   
     
 }
 
 
.service p {
    font-size: 30px;
    line-height: 1.6;
    margin-bottom: 270px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 25px;

}

.service h1{
    padding: 25px;
   margin-bottom: -75px;
}


.container{

margin-left: -10px;
margin-right: -10px;
margin-top: -19px;
padding: 20px;
   

}

.container p{
    color: rgb(0, 0, 0);
    margin-left: 150px;
    margin-top: -40px;
}



.online{
    background-color: rgb(163, 143, 143);
    width: 150px;
    height: 250px;
    border: 15px solid rgb(173, 100, 100);
    padding: 10px;
    margin: 20px;
    margin-right: -25px;
  }
.container img{
margin-right: 12px;
border-radius: 80%;
padding: -10px;
    
}
.container h3{
    color: rgb(70, 70, 157);
    border: 10px solid;
   
   margin-left: 20px;
   margin-right: 20px;
   color: rgb(241, 241, 241);
}
 

.p{
    color: rgb(70, 156, 216);
    float: inline-end;
    margin-top: -310px;
    
}









/*banner section*/
.banner2{
    color: white;
   /* padding: 10px 20px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: -10px;
    width: 100%;
    background-image: linear-gradient(lightgray,pink);

    
   

}

.navbar2{
    padding-right: 0px;
    
}


.social-icons{
    padding-bottom: 200x;
}


.social-icons ul li {
    display: inline-block; /* Display icons horizontally */
    margin-right: 10px;
     /* Spacing between icons */
  }
  
  .social-icons ul li:last-child {
    margin-right: 0; /* Remove margin from last icon */
  }
  
  .social-icons ul li a img {
    width: 10px; 
    height: 10px;
  }


  
/* CSS styles for the footer */
footer {
    background-image:linear-gradient(pink,lightgray);
    text-align: center;
    padding: 20px;
    align-items: center;
    padding: 10px;
    margin-left: -10px;
    width: 100%;
    
}


footer p{
    color: white;
}