 
      
   /* Styling for banner */
   *body{
    margin: 0;
    border: 0;
   }
   .banner {background-color: rgb(162, 133, 91);
    color: white;
   /* padding: 10px 20px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: -20%;
    
    

 
 

}

/* Styling for logo */
.logo {
    width: 50px; /* Adjust width as needed */
    height: auto;
   
  
   
}

/* Styling for navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    padding-top: 0px;
    
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

.navbar li {
    margin-left: 100px; /* Adjust spacing between navbar items */
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}





.welcome-section {
   /* background-color: #3b3232;*/
    padding: 100px 0;
    text-align: center;
    color:rgb(0, 0, 0);
   
  
    
}
.welcome-section{
background-color: rgb(186, 202, 202);
}


.welcome-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 270px;
    

}

p{
    padding-top: 20;
    color: black;
    font-size: large;
    font-style: italic;
}




.about h3{
    margin-right: 130px;
    color: black;
   
     
    }



.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin: 20px;
  
}

/* Gallery item */
.gallery-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

/* Hover effect */
.gallery-item:hover img {
    transform: scale(1.1);
}



.navbar2{
    padding-right: 0px;
    
}


.social-icons{
    padding-bottom: 200x;
}


.social-icons ul li {
    display: inline-block; /* Display icons horizontally */
    margin-right: 10px;
     /* Spacing between icons */
  }
  
  .social-icons ul li:last-child {
    margin-right: 0; /* Remove margin from last icon */
  }
  
  .social-icons ul li a img {
    width: 10px; 
    height: 10px;
  }


  
/* CSS styles for the footer */
footer {
    background-color: #534848;
    color: #fff;
    text-align: center;
    padding: 20px;
}
