  /* Styling for banner */
  *body{
    margin: 0;
    border: 0;
    
    
   }

   
   .banner {
    background-image: linear-gradient(pink,white);
    color: rgb(0, 0, 0);
   /* padding: 10px 20px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;

   }
  





/* Styling for logo */
.logo {
    width: 60px; /* Adjust width as needed */
   margin-left: 80px;

   
}

/* Styling for navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    padding-top: 0px;
    
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

.navbar li {
    margin-left: 100px; /* Adjust spacing between navbar items */
}

.navbar a {
    text-decoration: none;
    color:black;
    font-weight: bold;
    padding: -5px;
    margin-left: -90px;
    
}
 a:hover{
    color: red;
}


.welcome-section {
    /* background-color: #3b3232;*/
     padding: 100px 0;
     text-align: center;
     margin-left: -9px;
     width: 102%;
     margin-bottom: 120px;
 
     background-color: rgb(186, 202, 202);
     padding-top: 200PX;
     
     
 }
 
 
 
 .welcome-section p {
     font-size: 25px;
     line-height: 1.6;
     margin-bottom: 270px;
     color: rgb(228, 228, 228);
     margin-left: -120px;
     
 
 }
  .welcome-section h1{
     font-size: 80PX;
     color: white;
     margin-left: -120px;
     font-size: xx-large;
     
  }
 
 
 
 
 
 .welcome-section{
  
     background-image: url('');
       /* Adjust background properties as needed */
       background-size: cover; /* or 'contain' based on preference */
       background-position: center;
       /* You may want to set a height for your section */
       height: 500px; /* Example height */
       
       
 
 
   }
   
 
 p{
     padding-top: 20;
     color: black;
     font-size: large;
     font-style: italic;
 }





 /* Style the Image Used to Trigger the Modal */
 #myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 35rem;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
    



div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}
   












* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}






.lastcontainer{
font-weight: bolder;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 20px;
}






.footer{
  background-color: pink;
  margin-left: -10px;
  margin-right: -10px;

}
    
.footerlogo{
    margin-left: 8px;
    margin-top: 40px;
}


.ul2{
    margin-left: 700px;
    margin-top: -60px;
}


.social-media{
    float: right;
    margin-top: -70px;
}



.para{
    margin-left: 600px;
    margin-bottom: -20px;
}







